name: CD
on:
  push:


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: Set up WARP
      uses: fscarmen/warp-on-actions@v1.4
      with:
        stack: dual

    - name: testing ipv6 connection
      run: |
        curl -m 9 --ipv6 --verbose https://google.com

    # - name: Build Docker image
    #   run: docker build -t myapp:latest .

    # - name: Save image to file
    #   run: docker save myapp:latest -o myapp.tar
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build image as tar
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        tags: app:latest
        outputs: type=docker,dest=./app.tar

    - name: Copy tar to server
      uses: appleboy/scp-action@v1.0.0
      with:
        host: ${{ secrets.SSH_IP }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        protocol: tcp6
        source: "app.tar"
        target: "~/go-actions-test/"

    - name: the deployment
      timeout-minutes: 10
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: "${{ secrets.SSH_IP }}"
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        protocol: tcp6
        port: 22
        script: |
          cd go-actions-test
          git pull
          docker load -i app.tar
          docker compose up -d

